h2{
    text-align: center;
    font-size: 32px;
}
.main{
    width: 80%;
    height: 800px;
    margin:  50px auto;
    overflow: hidden;
    position: relative;
}
.slides{
    width: 500%;
    height: 100%;
    display: flex;
    animation: slides 16s infinite;
}
.slides img{
    width: 20% ;
    height: 100%;
    object-fit: cover;
}
/* @keyframes slides {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-20%);
    }
    45% {
      transform: translateX(-20%);
    }
    50% {
      transform: translateX(-40%);
    }
    70% {
      transform: translateX(-40%);
    }
    75% {
      transform: translateX(-60%);
    }
    95% {
      transform: translateX(-60%);
    }
    100% {
      transform: translateX(0);
    }
} */
@keyframes slides {
  0% {
    transform: translateX(0);
  }
  16% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-20%);
  }
  36% {
    transform: translateX(-20%);
  }
  40% {
    transform: translateX(-40%);
  }
  56% {
    transform: translateX(-40%);
  }
  60% {
    transform: translateX(-60%);
  }
  76% {
    transform: translateX(-60%);
  }
  80% {
    transform: translateX(-80%);
  }
  96% {
    transform: translateX(-80%);
  }
  100% {
    transform: translateX(0);
  }
}
